### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Visit this <a href="http://pandas.pydata.org/pandas-docs/stable/groupby.html">link</a> to learn more about groupby.

Also,check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Read drinks.csv file and assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv("drinks.csv")

### Step 3. Which continent drinks more beer on average?

In [4]:
drinks.groupby(['continent'])['beer_servings'].count()

continent
AF    53
AS    44
EU    45
OC    16
SA    12
Name: beer_servings, dtype: int64

### Step 4. For each continent print the statistics for wine consumption.

In [5]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [8]:
drinks.groupby(['continent'])['wine_servings'].describe()

continent
AF         count     53.000000
           mean      16.264151
           std       38.846419
           min        0.000000
           25%        1.000000
           50%        2.000000
           75%       13.000000
           max      233.000000
AS         count     44.000000
           mean       9.068182
           std       21.667034
           min        0.000000
           25%        0.000000
           50%        1.000000
           75%        8.000000
           max      123.000000
EU         count     45.000000
           mean     142.222222
           std       97.421738
           min        0.000000
           25%       59.000000
           50%      128.000000
           75%      195.000000
           max      370.000000
OC         count     16.000000
           mean      35.625000
           std       64.555790
           min        0.000000
           25%        1.000000
           50%        8.500000
           75%       23.250000
           max      212.000000
SA         count     12.000000
           mean      62.416667
           std       88.620189
           min        1.000000
           25%        3.000000
           50%       12.000000
           75%       98.500000
           max      221.000000
Name: wine_servings, dtype: float64

### Step 5. Print the mean alcoohol consumption per continent for every column

In [11]:
drinks.groupby(['continent'])['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 6. Print the median alcoohol consumption per continent for every column

In [12]:
drinks.groupby(['continent'])['total_litres_of_pure_alcohol'].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [13]:
drinks.spirit_servings.describe()

count    193.000000
mean      80.994819
std       88.284312
min        0.000000
25%        4.000000
50%       56.000000
75%      128.000000
max      438.000000
Name: spirit_servings, dtype: float64

In [14]:
drinks.spirit_servings.mean()

80.99481865284974

In [15]:
drinks.spirit_servings.min()

0

In [16]:
drinks.spirit_servings.max()

438