### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [18]:
import random
random_one=[]
random_two = []
random_three = []
for x in range(103):
    random_one.append(random.randint(1,101))
    random_two.append(random.randint(1,7))
    random_three.append(random.randint(10000,30000))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [25]:
df =pd.DataFrame()
se = pd.Series(random_one)
two = pd.Series(random_two)
three = pd.Series(random_three)
df['one'] = se.values
df['two'] = two.values
df['three'] = three.values

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [29]:
df.head()
df = df.rename(columns={'one':'bedrs','two':'bathrs','three':'price_sqr_meter'})
df.head()

   bedrs  bathrs  price_sqr_meter
0     17       1            24841
1     30       5            22823
2     19       6            20723
3     90       1            21350
4     68       7            16533

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [ ]:
#find the length

### Step 7. Reindex the DataFrame so it goes from 0 to 299