### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.

### Step 1. Import the necessary libraries

In [8]:
import pandas as pd

from datetime import datetime

### Step 2. Read wind.data file and assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [60]:
# parse_dates gets 0, 1, 2 columns and parses them as the index
data = pd.read_table("wind.data", sep = "\s+", parse_dates = [[0,1,2]]) 
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [61]:
data.shape

(6574, 13)

### Step 3. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [21]:
data['Yr_Mo_Dy'] = data.Yr_Mo_Dy.apply(lambda dt: dt.replace(year=2016))

In [24]:
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
2016-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2016-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2016-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
2016-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
2016-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [58]:
data = data.set_index('Yr_Mo_Dy')

### Step 5. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [27]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 6. Compute how many non-missing values there are in total.

In [28]:
sum(data.isnull().sum())

31

### Step 7. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [30]:
data.mean(axis=1)

Yr_Mo_Dy
2016-01-01    13.018182
2016-01-02    11.336364
2016-01-03    11.641818
2016-01-04     6.619167
2016-01-05    10.630000
2016-01-06     8.240000
2016-01-07    10.385000
2016-01-08    10.487500
2016-01-09     9.897500
2016-01-10    10.477500
2016-01-11     9.625000
2016-01-12    13.524167
2016-01-13     4.277500
2016-01-14     3.975833
2016-01-15     6.695000
2016-01-16    10.164167
2016-01-17    13.621667
2016-01-18    15.348182
2016-01-19     4.111667
2016-01-20     5.980000
2016-01-21     9.302500
2016-01-22     7.582500
2016-01-23    14.034167
2016-01-24    20.000833
2016-01-25    10.965000
2016-01-26    18.324167
2016-01-27    19.845833
2016-01-28    13.690833
2016-01-29    22.024545
2016-01-30    12.490833
                ...
2016-12-02    10.975833
2016-12-03    18.025000
2016-12-04    10.293333
2016-12-05    15.770833
2016-12-06    23.283333
2016-12-07    22.910000
2016-12-08     9.108333
2016-12-09    12.292500
2016-12-10    17.910000
2016-12-11    16.812500
2016-12-12    13.400833
2016-12-13    16.229167
2016-12-14     9.551667
2016-12-15     9.205833
2016-12-16     9.245000
2016-12-17     4.072500
2016-12-18     8.820000
2016-12-19     8.685000
2016-12-20     5.025833
2016-12-21     9.930833
2016-12-22     7.000833
2016-12-23    15.613333
2016-12-24    10.823333
2016-12-25     5.729167
2016-12-26     6.523333
2016-12-27    16.708333
2016-12-28    15.150000
2016-12-29    14.890000
2016-12-30    15.367500
2016-12-31    15.402500
dtype: float64

In [32]:
data.mean(axis=0)

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

### Step 8. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [38]:
loc_Stats = pd.DataFrame
loc_Stats = data.describe()
loc_Stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 9. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [54]:
data.reset_index(level=0, inplace=True)
data.apply(pd.DataFrame.describe, axis=1)

TypeError: ('unbound method describe() must be called with DataFrame instance as first argument (got Series instance instead)', u'occurred at index 0')

### Step 10. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [59]:
data.groupby(data.index.month).mean()

,index,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1,3119.277778,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763
2,3150.326772,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142
3,3178.500000,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317
4,3209.000000,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611
5,3239.500000,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039
6,3270.000000,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818
7,3300.500000,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789
8,3331.500000,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943
9,3362.000000,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963
10,3392.500000,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151
11,3423.000000,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185
12,3453.500000,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599

### Step 11. Downsample the record to a yearly frequency for each location.

In [74]:
#data.reset_index()
#data.resample('Yr_Mo_Dy').interpolate()[::365]
data.reindex('Yr_Mo_Dy', method='ffill')

TypeError: Index(...) must be called with a collection of some kind, 'Yr_Mo_Dy' was passed

In [77]:
index = pd.date_range('2012-01-01 00:00:00.25', 
                      '2012-01-01 00:00:04.25', freq='S')
type(index)

pandas.tseries.index.DatetimeIndex

### Step 12. Downsample the record to a monthly frequency for each location.

### Step 13. Downsample the record to a weekly frequency for each location.

### Step 14. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.