### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [12]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
import pandas as pd
d =  {'id': 'CS2_056', 'cost': 2, 'name': 'Tap'}
df = pd.DataFrame([d], columns=['id', 'cost', 'name'])
print df

In [9]:
pokemon = {'evolution':['Ivysaur','Charmeleon','Wartortle','metapod'], 'hp':[45, 39, 44, 45], 'name':['bulbasaur','charmander','squirtle','caterpie'], 'pokedox':['yes','no','yes','no'], 'type':['grass','fire','water','bug'],
          }
DataFrame({key: vals + [np.nan]*(max_len - len(vals)) for key, vals in mydata.iteritems()})

In [10]:
max_len = max([len(x) for x in pokemon.values()])

### Step 3. Assign it to a variable called pokemon

In [13]:
df = pd.DataFrame({key: vals + [np.nan]*(max_len - len(vals)) for key, vals in pokemon.iteritems()})
df

    evolution  hp        name pokedox   type
0     Ivysaur  45   bulbasaur     yes  grass
1  Charmeleon  39  charmander      no   fire
2   Wartortle  44    squirtle     yes  water
3     metapod  45    caterpie      no    bug

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [15]:
data = df[['name','type','hp','evolution','pokedox']]

### Step 5. Add another column called place, and insert what you have in mind.

In [20]:
data['place'] = ('usa','aus','hyd','mex')
data

C:\Users\mohad\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

         name   type  hp   evolution pokedox place
0   bulbasaur  grass  45     Ivysaur     yes   usa
1  charmander   fire  39  Charmeleon      no   aus
2    squirtle  water  44   Wartortle     yes   hyd
3    caterpie    bug  45     metapod      no   mex

### Step 6. Present the type of each column

In [21]:
data.dtypes

name         object
type         object
hp            int64
evolution    object
pokedox      object
place        object
dtype: object

### BONUS: Create your own question and answer it.