### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Read iris.data file and assign it to a variable called iris

### Step 3. Create columns for the dataset

In [57]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

### Step 4.  Is there any missing value in the dataframe?

### Step 5.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

### Step 6. Good, now lets substitute the NaN values to 1.0

In [3]:
from datetime import datetime, timedelta
from collections import OrderedDict
dates = ["2014-10-10", "2016-01-07"]
start, end = [datetime.strptime(_, "%Y-%m-%d") for _ in dates]
start

datetime.datetime(2014, 10, 10, 0, 0)

### Step 7. Now let's delete the column class

In [4]:
end

datetime.datetime(2016, 1, 7, 0, 0)

### Step 8.  Set the first 3 rows as NaN

In [10]:
from datetime import timedelta, date

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

start_date = date(2013, 1,1)
end_date = date(2015, 6,1)
for single_date in daterange(start_date, end_date):
    vv= single_date.strftime("%Y-%m")

### Step 9.  Delete the rows that have NaN

In [31]:
import pandas as pd

### Step 10. Reset the index so it begins with 0 again

In [32]:
date_list = []

gg = pd.DataFrame
from datetime import date, datetime, timedelta

def perdelta(start, end, delta):
    curr = start
    while curr < end:
        yield curr
        curr += delta
    
for result in perdelta(date(2013, 9,1), date(2017, 8,1), timedelta(days=31)):
    print(result)
    date_list.append(result)

2013-09-01
2013-10-02
2013-11-02
2013-12-03
2014-01-03
2014-02-03
2014-03-06
2014-04-06
2014-05-07
2014-06-07
2014-07-08
2014-08-08
2014-09-08
2014-10-09
2014-11-09
2014-12-10
2015-01-10
2015-02-10
2015-03-13
2015-04-13
2015-05-14
2015-06-14
2015-07-15
2015-08-15
2015-09-15
2015-10-16
2015-11-16
2015-12-17
2016-01-17
2016-02-17
2016-03-19
2016-04-19
2016-05-20
2016-06-20
2016-07-21
2016-08-21
2016-09-21
2016-10-22
2016-11-22
2016-12-23
2017-01-23
2017-02-23
2017-03-26
2017-04-26
2017-05-27
2017-06-27
2017-07-28

In [27]:
result

datetime.date(2017, 7, 28)

### BONUS: Create your own question and answer it.

In [26]:
date_list

[datetime.date(2013, 9, 1),
 datetime.date(2013, 10, 2),
 datetime.date(2013, 11, 2),
 datetime.date(2013, 12, 3),
 datetime.date(2014, 1, 3),
 datetime.date(2014, 2, 3),
 datetime.date(2014, 3, 6),
 datetime.date(2014, 4, 6),
 datetime.date(2014, 5, 7),
 datetime.date(2014, 6, 7),
 datetime.date(2014, 7, 8),
 datetime.date(2014, 8, 8),
 datetime.date(2014, 9, 8),
 datetime.date(2014, 10, 9),
 datetime.date(2014, 11, 9),
 datetime.date(2014, 12, 10),
 datetime.date(2015, 1, 10),
 datetime.date(2015, 2, 10),
 datetime.date(2015, 3, 13),
 datetime.date(2015, 4, 13),
 datetime.date(2015, 5, 14),
 datetime.date(2015, 6, 14),
 datetime.date(2015, 7, 15),
 datetime.date(2015, 8, 15),
 datetime.date(2015, 9, 15),
 datetime.date(2015, 10, 16),
 datetime.date(2015, 11, 16),
 datetime.date(2015, 12, 17),
 datetime.date(2016, 1, 17),
 datetime.date(2016, 2, 17),
 datetime.date(2016, 3, 19),
 datetime.date(2016, 4, 19),
 datetime.date(2016, 5, 20),
 datetime.date(2016, 6, 20),
 datetime.date(2016, 7, 21),
 datetime.date(2016, 8, 21),
 datetime.date(2016, 9, 21),
 datetime.date(2016, 10, 22),
 datetime.date(2016, 11, 22),
 datetime.date(2016, 12, 23),
 datetime.date(2017, 1, 23),
 datetime.date(2017, 2, 23),
 datetime.date(2017, 3, 26),
 datetime.date(2017, 4, 26),
 datetime.date(2017, 5, 27),
 datetime.date(2017, 6, 27),
 datetime.date(2017, 7, 28)]